In [206]:
import pandas as pd
import numpy as np

In [207]:
#import the covid deaths csv
deaths_df = pd.read_csv('deaths.csv')
list(deaths_df.columns)

/Users/justinobrien/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['Data As Of',
 'Start Date',
 'End Date',
 'Group',
 'Year',
 'Month',
 'State',
 'Sex',
 'Age Group',
 'COVID-19 Deaths',
 'Total Deaths',
 'Pneumonia Deaths',
 'Pneumonia and COVID-19 Deaths',
 'Influenza Deaths',
 'Pneumonia, Influenza, or COVID-19 Deaths',
 'Footnote']

In [208]:
deaths_df = deaths_df.drop(['Sex','Total Deaths', 'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths','Influenza Deaths', 'Pneumonia, Influenza, or COVID-19 Deaths','Footnote', 'Age Group', 'Year', 'Month'], axis=1)

In [209]:
deaths_df = deaths_df.loc[(deaths_df['State'] != 'United States')]
deaths_df.head()

    Data As Of  Start Date    End Date     Group    State COVID-19 Deaths
51  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama          10,334
52  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama             NaN
53  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama             NaN
54  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama               0
55  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama               0

In [210]:
deaths_df = deaths_df.drop(['Group'], axis = 1)
deaths_df.head()

    Data As Of  Start Date    End Date    State COVID-19 Deaths
51  04/21/2021  01/01/2020  04/17/2021  Alabama          10,334
52  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
53  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
54  04/21/2021  01/01/2020  04/17/2021  Alabama               0
55  04/21/2021  01/01/2020  04/17/2021  Alabama               0

In [211]:
deaths_df = deaths_df.drop(['Data As Of'], axis=1)

In [212]:
deaths_df = deaths_df.dropna()

In [213]:
deaths_df[['Start Date','End Date']] = deaths_df[['Start Date', 'End Date']].apply(pd.to_datetime)

In [214]:
deaths_df['COVID-19 Deaths'] = pd.to_numeric(deaths_df['COVID-19 Deaths'], errors = 'coerce')

In [215]:
deaths_df = deaths_df[deaths_df.State != 'Puerto Rico']

In [216]:
deaths_df = deaths_df[deaths_df.State != 'District of Columbia']

In [217]:
deaths_df.replace(
    to_replace= ['New York City'], 
    value = 'New York',
    inplace= True
)
deaths_df

      Start Date   End Date    State  COVID-19 Deaths
51    2020-01-01 2021-04-17  Alabama              NaN
54    2020-01-01 2021-04-17  Alabama              0.0
55    2020-01-01 2021-04-17  Alabama              0.0
56    2020-01-01 2021-04-17  Alabama             11.0
57    2020-01-01 2021-04-17  Alabama             35.0
...          ...        ...      ...              ...
51505 2021-04-01 2021-04-17  Wyoming              0.0
51506 2021-04-01 2021-04-17  Wyoming              0.0
51507 2021-04-01 2021-04-17  Wyoming              0.0
51508 2021-04-01 2021-04-17  Wyoming              0.0
51509 2021-04-01 2021-04-17  Wyoming              0.0

[37578 rows x 4 columns]

In [218]:
prevax= deaths_df[deaths_df['End Date']<='2021-01-02'].groupby('State').sum('Covid-19 Deaths')
prevax.reset_index(inplace=True)

In [221]:
prevax.to_csv('prevaxdeaths.csv', index=False)

In [222]:
postvax= deaths_df[deaths_df['End Date']>='2021-01-02'].groupby('State').sum('Covid-19 Deaths')
postvax.reset_index(inplace=True)

In [223]:
postvax.to_csv('postvax_deaths.csv', index=False)

AttributeError: 'Styler' object has no attribute 'info'

In [258]:
postvax.to_csv('postvax_deaths.csv')

In [270]:
#import the polldata csv
polldata_df = pd.read_csv('STATEPOLLDATA.csv')
polldata_df

,state,mask willingness,vaccine unwillingness,supply usage,population,election results
0,Alabama,85,26,63.8,4863300.0,R
1,Alaska,77,22,72.9,741894.0,R
2,Arizona,80,22,75.3,6931071.0,D
3,Arkansas,68,27,69.5,2988248.0,R
4,California,84,17,77.8,39250017.0,D
5,Colorado,89,18,82.2,5540545.0,D
6,Connecticut,95,13,84.1,3576452.0,D
7,Delaware,90,14,77.6,952065.0,D
8,Florida,91,20,73.1,20612439.0,R
9,Georgia,82,27,66.9,10310371.0,D
10,Hawaii,94,11,82.9,1428557.0,D
11,Idaho,73,29,76.2,1683140.0,R
12,Illinois,90,19,78.2,12801539.0,D
13,Indiana,89,22,76.4,6633053.0,R
14,Iowa,69,20,85.9,3134693.0,R
15,Kansas,86,25,74.6,2907289.0,R
16,Kentucky,83,25,79.7,4436974.0,R
17,Louisiana,86,23,73.8,4681666.0,R
18,Maine,88,16,85.1,1331479.0,D
19,Maryland,91,15,79.2,6016447.0,D
20,Massachusetts,90,11,83.1,6811779.0,D
21,Michigan,84,21,74.5,9928300.0,D
22,Minnesota,83,17,86.3,5519952.0,D
23,Mississippi,83,30,65.7,2988726.0,R
24,Missouri,79,24,76.4,6093000.0,R
25,Montana,84,24,77.3,1042520.0,R
26,Nebraska,80,16,80.9,1907116.0,R
27,Nevada,92,22,82.1,2940058.0,D
28,New Hampshire,87,17,85.0,1334795.0,D
29,New Jersey,88,14,83.3,8944469.0,D
30,New Mexico,89,20,89.1,2081015.0,D
31,New York,91,13,83.7,19745289.0,D
32,North Carolina,79,22,71.9,10146788.0,R
33,North Dakota,66,24,87.7,757952.0,R
34,Ohio,83,21,79.9,11614373.0,R
35,Oklahoma,81,28,72.2,3923561.0,R
36,Oregon,90,17,77.5,4093465.0,D
37,Pennsylvania,88,20,80.1,12784227.0,D
38,Rhode Island,96,15,80.3,1056426.0,D
39,South Carolina,82,23,71.7,4961119.0,R
40,South Dakota,54,28,79.1,865454.0,R
41,Tennessee,76,25,74.5,6651194.0,R
42,Texas,84,23,72.4,27862596.0,R
43,Utah,74,16,84.0,3051217.0,R
44,Vermont,84,16,83.6,624594.0,D
45,Virginia,88,19,82.0,8411808.0,D
46,Washington,88,17,79.8,7288000.0,D
47,West Virginia,77,28,71.4,1831102.0,R
48,Wisconsin,79,19,87.6,5778708.0,D
49,Wyoming,54,22,74.8,585501.0,R

In [271]:
polldata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   state                  50 non-null     object
 1   mask willingness       50 non-null     int64
 2   vaccine unwillingness  50 non-null     int64
 3   supply usage           50 non-null     float64
 4   population             50 non-null     float64
 5   election results       50 non-null     object
dtypes: float64(2), int64(2), object(2)
memory usage: 2.5+ KB

In [272]:
polldata_df.to_csv('polldata.csv', index=False)

In [264]:
polldata_df = polldata_df.dropna()
polldata_df

,state,mask willingness,vaccine unwillingness,supply usage,population,election results
0,Alabama,85.0,26.0,63.8,4863300.0,R
1,Alaska,77.0,22.0,72.9,741894.0,R
2,Arizona,80.0,22.0,75.3,6931071.0,D
3,Arkansas,68.0,27.0,69.5,2988248.0,R
4,California,84.0,17.0,77.8,39250017.0,D
5,Colorado,89.0,18.0,82.2,5540545.0,D
6,Connecticut,95.0,13.0,84.1,3576452.0,D
7,Delaware,90.0,14.0,77.6,952065.0,D
8,Florida,91.0,20.0,73.1,20612439.0,R
9,Georgia,82.0,27.0,66.9,10310371.0,D
10,Hawaii,94.0,11.0,82.9,1428557.0,D
11,Idaho,73.0,29.0,76.2,1683140.0,R
12,Illinois,90.0,19.0,78.2,12801539.0,D
13,Indiana,89.0,22.0,76.4,6633053.0,R
14,Iowa,69.0,20.0,85.9,3134693.0,R
15,Kansas,86.0,25.0,74.6,2907289.0,R
16,Kentucky,83.0,25.0,79.7,4436974.0,R
17,Louisiana,86.0,23.0,73.8,4681666.0,R
18,Maine,88.0,16.0,85.1,1331479.0,D
19,Maryland,91.0,15.0,79.2,6016447.0,D
20,Massachusetts,90.0,11.0,83.1,6811779.0,D
21,Michigan,84.0,21.0,74.5,9928300.0,D
22,Minnesota,83.0,17.0,86.3,5519952.0,D
23,Mississippi,83.0,30.0,65.7,2988726.0,R
24,Missouri,79.0,24.0,76.4,6093000.0,R
25,Montana,84.0,24.0,77.3,1042520.0,R
26,Nebraska,80.0,16.0,80.9,1907116.0,R
27,Nevada,92.0,22.0,82.1,2940058.0,D
28,New Hampshire,87.0,17.0,85.0,1334795.0,D
29,New Jersey,88.0,14.0,83.3,8944469.0,D
30,New Mexico,89.0,20.0,89.1,2081015.0,D
31,New York,91.0,13.0,83.7,19745289.0,D
32,North Carolina,79.0,22.0,71.9,10146788.0,R
33,North Dakota,66.0,24.0,87.7,757952.0,R
34,Ohio,83.0,21.0,79.9,11614373.0,R
35,Oklahoma,81.0,28.0,72.2,3923561.0,R
36,Oregon,90.0,17.0,77.5,4093465.0,D
37,Pennsylvania,88.0,20.0,80.1,12784227.0,D
38,Rhode Island,96.0,15.0,80.3,1056426.0,D
39,South Carolina,82.0,23.0,71.7,4961119.0,R
40,South Dakota,54.0,28.0,79.1,865454.0,R
41,Tennessee,76.0,25.0,74.5,6651194.0,R
42,Texas,84.0,23.0,72.4,27862596.0,R
43,Utah,74.0,16.0,84.0,3051217.0,R
44,Vermont,84.0,16.0,83.6,624594.0,D
45,Virginia,88.0,19.0,82.0,8411808.0,D
46,Washington,88.0,17.0,79.8,7288000.0,D
47,West Virginia,77.0,28.0,71.4,1831102.0,R
48,wisconsin,79.0,19.0,87.6,5778708.0,D
49,wyoming,54.0,22.0,74.8,585501.0,R

In [265]:
polldata_df.to_csv('polldata.csv', index=False)

In [232]:
#read in vaccine data
JJ_df = pd.read_csv("Janssen.csv")
Moderna_df = pd.read_csv("moderna.csv")
Pfizer_df = pd.read_csv("pfizer.csv")

In [233]:
JJ_df = JJ_df.rename(columns={'Jurisdiction': 'State'}) 
JJ_df = JJ_df.rename(columns={'1st Dose Allocations': 'Vaccinations'}) 
JJ_df

                State Week of Allocations  Vaccinations
0         Connecticut          05/10/2021          6400
1               Maine          05/10/2021          2500
2       Massachusetts          05/10/2021         12300
3       New Hampshire          05/10/2021          2500
4        Rhode Island          05/10/2021          2000
..                ...                 ...           ...
499            Alaska          03/01/2021          8900
500             Idaho          03/01/2021         13300
501            Oregon          03/01/2021         34400
502        Washington          03/01/2021         60900
503  Federal Entities          03/01/2021        139200

[504 rows x 3 columns]

In [90]:
JJ_df['State'].value_counts()

North Carolina    1
North Dakota      1
Arizona           1
Oregon            1
Colorado          1
West Virginia     1
Alaska            1
New Hampshire     1
Mississippi       1
Arkansas          1
Washington        1
Texas             1
Nevada            1
Oklahoma          1
Alabama           1
Georgia           1
Minnesota         1
South Dakota      1
Maryland          1
Nebraska          1
Rhode Island      1
Indiana           1
Montana           1
New Mexico        1
Maine             1
Wisconsin         1
Massachusetts     1
New Jersey        1
Utah              1
Tennessee         1
Idaho             1
Connecticut       1
Philadelphia      1
New York          1
Ohio              1
Missouri          1
Illinois          1
Vermont           1
Pennsylvania      1
Florida           1
Iowa              1
Wyoming           1
Hawaii            1
South Carolina    1
Delaware          1
California        1
Louisiana         1
Virginia          1
Kentucky          1
Michigan          1
Kansas            1
Name: State, dtype: int64

In [234]:
JJ_df = JJ_df[JJ_df.State != 'Puerto Rico']
JJ_df = JJ_df[JJ_df.State != 'American Samoa']
JJ_df = JJ_df[JJ_df.State != 'Federal Entities']
JJ_df = JJ_df[JJ_df.State != 'Palau']
JJ_df = JJ_df[JJ_df.State != 'U.S. Virgin Islands']
JJ_df = JJ_df[JJ_df.State != 'Guam']
JJ_df = JJ_df[JJ_df.State != 'Marshall Islands']
JJ_df = JJ_df[JJ_df.State != 'Micronesia']
JJ_df = JJ_df[JJ_df.State != 'District of Columbia']
JJ_df = JJ_df[JJ_df.State != 'Mariana Islands']

In [235]:
JJ_df['State'].value_counts()

North Carolina    8
Arizona           8
Colorado          8
Tennessee         8
South Carolina    8
Alaska            8
New Hampshire     8
Mississippi       8
Utah              8
Arkansas          8
Ohio              8
Texas             8
North Dakota      8
Oregon            8
West Virginia     8
Wisconsin         8
Alabama           8
Georgia           8
South Dakota      8
Maryland          8
Nebraska          8
Rhode Island      8
Indiana           8
Montana           8
New Mexico        8
Missouri          8
Maine             8
Nevada            8
Oklahoma          8
Minnesota         8
Idaho             8
Connecticut       8
Philadelphia      8
New York          8
Illinois          8
Vermont           8
New Jersey        8
New York City     8
Pennsylvania      8
Iowa              8
Wyoming           8
Hawaii            8
Massachusetts     8
Chicago           8
California        8
Louisiana         8
Virginia          8
Kentucky          8
Michigan          8
Florida           8
Delaware          8
Washington        8
Kansas            8
Name: State, dtype: int64

In [236]:
JJ_df.replace(
    to_replace= ['New York City'], 
    value = 'New York',
    inplace= True
)
JJ_df.replace(
    to_replace= ['Chicago'], 
    value = 'Illinois',
    inplace= True
)

In [238]:
JJ_df = JJ_df.drop(['Week of Allocations'], axis=1)

In [239]:
JJ_df = JJ_df.groupby('State').sum('1st Dose Allocations')
JJ_df.reset_index(inplace=True)
JJ_df

             State  Vaccinations
0          Alabama        179400
1           Alaska         39900
2          Arizona        253900
3         Arkansas        109000
4       California       1428400
5         Colorado        203400
6      Connecticut        134800
7         Delaware         35700
8          Florida        781500
9          Georgia        370900
10          Hawaii         53500
11           Idaho         59900
12        Illinois        471000
13         Indiana        241000
14            Iowa        114700
15          Kansas        104700
16        Kentucky        163400
17       Louisiana        169000
18           Maine         51600
19        Maryland        221700
20   Massachusetts        259300
21        Michigan        369100
22       Minnesota        202000
23     Mississippi        108200
24        Missouri        223700
25         Montana         39000
26        Nebraska         69300
27          Nevada        107200
28   New Hampshire         51700
29      New Jersey        328700
30      New Mexico         77000
31        New York        735700
32  North Carolina        373700
33    North Dakota         28500
34            Ohio        428800
35        Oklahoma        141000
36          Oregon        153700
37    Pennsylvania        422200
38    Philadelphia         58600
39    Rhode Island         40800
40  South Carolina        183600
41    South Dakota         31500
42       Tennessee        245000
43           Texas        978300
44            Utah        102100
45         Vermont         24500
46        Virginia        311400
47      Washington        272000
48   West Virginia         69600
49       Wisconsin        214700
50         Wyoming         21400

In [240]:
JJ_df.to_csv('JJvax.csv', index = False)

In [247]:
Pfizer_df = pd.read_csv("pfizer.csv")
Pfizer_df = Pfizer_df.rename(columns={'Jurisdiction': 'State'}) 
Pfizer_df = Pfizer_df.drop(['1st Dose Allocations'], axis = 1)
#replace nyc and chicago with their respective states
Pfizer_df.replace(
    to_replace= ['New York City'], 
    value = 'New York',
    inplace= True
)
Pfizer_df.replace(
    to_replace= ['Chicago'], 
    value = 'Illinois',
    inplace= True
)
Pfizer_df

              State Week of Allocations  2nd Dose Allocations
0       Connecticut          05/03/2021                 54990
1             Maine          05/03/2021                 21060
2     Massachusetts          05/03/2021                105300
3     New Hampshire          05/03/2021                 21060
4      Rhode Island          05/03/2021                 16380
...             ...                 ...                   ...
1318       Virginia          12/14/2020                 72150
1319     Washington          12/14/2020                 62400
1320  West Virginia          12/14/2020                 16575
1321      Wisconsin          12/14/2020                 49725
1322        Wyoming          12/14/2020                  4875

[1323 rows x 3 columns]

In [248]:
Pfizer_df = Pfizer_df.rename(columns={'2nd Dose Allocations': 'Vaccinations'})
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Puerto Rico']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'American Samoa']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Federal Entities']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Palau']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'U.S. Virgin Islands']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Guam']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Marshall Islands']
Pfizer_df= Pfizer_df[Pfizer_df.State != 'Micronesia']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'District of Columbia']
Pfizer_df = Pfizer_df[Pfizer_df.State != 'Mariana Islands']

In [249]:
Pfizer_df = Pfizer_df.groupby("State").sum('Vaccinations')
Pfizer_df.reset_index(inplace=True)

In [250]:
Pfizer_df

             State  Vaccinations
0          Alabama       1046760
1           Alaska        241800
2          Arizona       1484340
3         Arkansas        640380
4       California       8303880
5         Colorado       1188525
6      Connecticut        794820
7         Delaware        220350
8          Florida       4543110
9          Georgia       2162550
10          Hawaii        320580
11           Idaho        354900
12        Illinois       2756325
13         Indiana       1406925
14            Iowa        672555
15          Kansas        616980
16        Kentucky        962325
17       Louisiana        996450
18           Maine        306540
19        Maryland       1297920
20   Massachusetts       1515150
21        Michigan       2148120
22       Minnesota       1181115
23     Mississippi        635310
24        Missouri       1308840
25         Montana        236925
26        Nebraska        409110
27          Nevada        630630
28   New Hampshire        306540
29      New Jersey       1914510
30      New Mexico        457470
31        New York       4284150
32  North Carolina       2181270
33    North Dakota        169845
34            Ohio       2502045
35        Oklahoma        831285
36          Oregon        902070
37    Pennsylvania       2461485
38    Philadelphia        353730
39    Rhode Island        240435
40  South Carolina       1076205
41    South Dakota        191295
42       Tennessee       1433445
43           Texas       5689125
44            Utah        597675
45         Vermont        153855
46        Virginia       1816425
47      Washington       1604655
48   West Virginia        409110
49       Wisconsin       1256970
50         Wyoming        133380

In [251]:
Pfizer_df.to_csv('pfizervax.csv', index=False)

In [252]:
moderna_df = pd.read_csv("moderna.csv")
moderna_df = moderna_df.rename(columns={'Jurisdiction': 'State'}) 
moderna_df = moderna_df.drop(['1st Dose Allocations'], axis = 1)
#replace nyc and chicago with their respective states
moderna_df.replace(
    to_replace= ['New York City'], 
    value = 'New York',
    inplace= True
)
moderna_df.replace(
    to_replace= ['Chicago'], 
    value = 'Illinois',
    inplace= True
)
moderna_df

              State Week of Allocations  2nd Dose Allocations
0       Connecticut          05/03/2021                 40400
1             Maine          05/03/2021                 15400
2     Massachusetts          05/03/2021                 77700
3     New Hampshire          05/03/2021                 15500
4      Rhode Island          05/03/2021                 12100
...             ...                 ...                   ...
1255       Virginia          12/21/2020                146400
1256     Washington          12/21/2020                128000
1257  West Virginia          12/21/2020                 32600
1258      Wisconsin          12/21/2020                101000
1259        Wyoming          12/21/2020                 10000

[1260 rows x 3 columns]

In [253]:
moderna_df = moderna_df.rename(columns={'2nd Dose Allocations': 'Vaccinations'})
moderna_df = moderna_df[moderna_df.State != 'Puerto Rico']
moderna_df = moderna_df[moderna_df.State != 'American Samoa']
moderna_df = moderna_df[moderna_df.State != 'Federal Entities']
moderna_df = moderna_df[moderna_df.State != 'Palau']
moderna_df= moderna_df[moderna_df.State != 'U.S. Virgin Islands']
moderna_df = moderna_df[moderna_df.State != 'Guam']
moderna_df = moderna_df[moderna_df.State != 'Marshall Islands']
moderna_df= moderna_df[moderna_df.State != 'Micronesia']
moderna_df = moderna_df[moderna_df.State != 'District of Columbia']
moderna_df = moderna_df[moderna_df.State != 'Mariana Islands']

In [254]:
moderna_df = moderna_df.groupby("State").sum('Vaccinations')
moderna_df

                Vaccinations
State
Alabama               911800
Alaska                201700
Arizona              1292600
Arkansas              553100
California           7273200
Colorado             1034100
Connecticut           684900
Delaware              181500
Florida              3978600
Georgia              1885700
Hawaii                271000
Idaho                 302800
Illinois             2394600
Indiana              1225600
Iowa                  581800
Kansas                531300
Kentucky              829900
Louisiana             860500
Maine                 261900
Maryland             1128000
Massachusetts        1319200
Michigan             1877800
Minnesota            1028400
Mississippi           549500
Missouri             1138400
Montana               198700
Nebraska              351400
Nevada                544900
New Hampshire         262300
New Jersey           1671500
New Mexico            391900
New York             3744200
North Carolina       1902400
North Dakota          143500
Ohio                 2182500
Oklahoma              716900
Oregon                780700
Pennsylvania         2149900
Philadelphia          298300
Rhode Island          206200
South Carolina        933900
South Dakota          158600
Tennessee            1246400
Texas                4980400
Utah                  518100
Vermont               124000
Virginia             1583400
Washington           1385300
West Virginia         353400
Wisconsin            1092400
Wyoming               108900

In [255]:
moderna_df.reset_index(inplace=True)

In [256]:
moderna_df.info()
moderna_df.to_csv('Modernavax.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         51 non-null     object
 1   Vaccinations  51 non-null     int64
dtypes: int64(1), object(1)
memory usage: 944.0+ bytes

In [257]:
moderna_df.dropna()
moderna_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         51 non-null     object
 1   Vaccinations  51 non-null     int64
dtypes: int64(1), object(1)
memory usage: 944.0+ bytes

In [284]:
database = pd.read_csv("database.csv")
database

,state,mask_willingness,vaccine_unwilling,supply_percent_used,population,election_result,jjvaccinations,mdvaccinations,pfvaccinations,postvax_deaths,prevax_deaths
0,Alabama,85,26,63.8,4863300,R,179400,911800,1046760,23227,36036
1,Alaska,77,22,72.9,741894,R,39900,201700,241800,1712,1767
2,Arizona,80,22,75.3,6931071,D,253900,1292600,1484340,30972,38259
3,Arkansas,68,27,69.5,2988248,R,109000,553100,640380,20022,22793
4,California,84,17,77.8,39250017,D,1428400,7273200,8303880,29148,68739
5,Colorado,89,18,82.2,5540545,D,203400,1034100,1188525,16873,25913
6,Connecticut,95,13,84.1,3576452,D,134800,684900,794820,17378,23171
7,Delaware,90,14,77.6,952065,D,35700,181500,220350,8250,7124
8,Florida,91,20,73.1,20612439,R,781500,3978600,4543110,31872,55453
9,Georgia,82,27,66.9,10310371,D,370900,1885700,2162550,31636,44561
10,Hawaii,94,11,82.9,1428557,D,53500,271000,320580,2473,2853
11,Idaho,73,29,76.2,1683140,R,59900,302800,354900,9093,11074
12,Illinois,90,19,78.2,12801539,D,471000,2394600,2756325,25591,45842
13,Indiana,89,22,76.4,6633053,R,241000,1225600,1406925,20389,34225
14,Iowa,69,20,85.9,3134693,R,114700,581800,672555,13870,23069
15,Kansas,86,25,74.6,2907289,R,104700,531300,616980,16890,18648
16,Kentucky,83,25,79.7,4436974,R,163400,829900,962325,22199,23198
17,Louisiana,86,23,73.8,4681666,R,169000,860500,996450,21367,36376
18,Maine,88,16,85.1,1331479,D,51600,261900,306540,6673,3433
19,Maryland,91,15,79.2,6016447,D,221700,1128000,1297920,23268,32857
20,Massachusetts,90,11,83.1,6811779,D,259300,1319200,1515150,20140,26939
21,Michigan,84,21,74.5,9928300,D,369100,1877800,2148120,24549,36573
22,Minnesota,83,17,86.3,5519952,D,202000,1028400,1181115,15152,26774
23,Mississippi,83,30,65.7,2988726,R,108200,549500,635310,21691,29770
24,Missouri,79,24,76.4,6093000,R,223700,1138400,1308840,20227,31788
25,Montana,84,24,77.3,1042520,R,39000,198700,236925,7731,9300
26,Nebraska,80,16,80.9,1907116,R,69300,351400,409110,9939,15212
27,Nevada,92,22,82.1,2940058,D,107200,544900,630630,21532,21914
28,New Hampshire,87,17,85.0,1334795,D,51700,262300,306540,7516,6347
29,New Jersey,88,14,83.3,8944469,D,328700,1671500,1914510,29022,39795
30,New Mexico,89,20,89.1,2081015,D,77000,391900,457470,18541,18535
31,New York,91,13,83.7,19745289,D,735700,3744200,4284150,58359,69607
32,North Carolina,79,22,71.9,10146788,R,373700,1902400,2181270,7268,36229
33,North Dakota,66,24,87.7,757952,R,28500,143500,169845,6295,10755
34,Ohio,83,21,79.9,11614373,R,428800,2182500,2502045,25678,38592
35,Oklahoma,81,28,72.2,3923561,R,141000,716900,831285,22020,26141
36,Oregon,90,17,77.5,4093465,D,153700,780700,902070,11441,11552
37,Pennsylvania,88,20,80.1,12784227,D,422200,2149900,2461485,28253,38725
38,Rhode Island,96,15,80.3,1056426,D,40800,206200,240435,10115,13647
39,South Carolina,82,23,71.7,4961119,R,183600,933900,1076205,23007,28831
40,South Dakota,54,28,79.1,865454,R,31500,158600,191295,7746,12344
41,Tennessee,76,25,74.5,6651194,R,245000,1246400,1433445,25550,32802
42,Texas,84,23,72.4,27862596,R,978300,4980400,5689125,33672,67372
43,Utah,74,16,84.0,3051217,R,102100,518100,597675,12736,12175
44,Vermont,84,16,83.6,624594,D,24500,124000,153855,1366,932
45,Virginia,88,19,82.0,8411808,D,311400,1583400,1816425,23983,32314
46,Washington,88,17,79.8,7288000,D,272000,1385300,1604655,17600,21283
47,West Virginia,77,28,71.4,1831102,R,69600,353400,409110,13668,11173
48,Wisconsin,79,19,87.6,5778708,D,214700,1092400,1256970,16556,26068
49,Wyoming,54,22,74.8,585501,R,21400,108900,133380,3786,3594

In [285]:
database['Total Vaccinations'] = database['jjvaccinations'] + database['mdvaccinations'] + database['pfvaccinations']

In [286]:
database = database.drop(['jjvaccinations', 'mdvaccinations', 'pfvaccinations'], axis=1)
database

,state,mask_willingness,vaccine_unwilling,supply_percent_used,population,election_result,postvax_deaths,prevax_deaths,Total Vaccinations
0,Alabama,85,26,63.8,4863300,R,23227,36036,2137960
1,Alaska,77,22,72.9,741894,R,1712,1767,483400
2,Arizona,80,22,75.3,6931071,D,30972,38259,3030840
3,Arkansas,68,27,69.5,2988248,R,20022,22793,1302480
4,California,84,17,77.8,39250017,D,29148,68739,17005480
5,Colorado,89,18,82.2,5540545,D,16873,25913,2426025
6,Connecticut,95,13,84.1,3576452,D,17378,23171,1614520
7,Delaware,90,14,77.6,952065,D,8250,7124,437550
8,Florida,91,20,73.1,20612439,R,31872,55453,9303210
9,Georgia,82,27,66.9,10310371,D,31636,44561,4419150
10,Hawaii,94,11,82.9,1428557,D,2473,2853,645080
11,Idaho,73,29,76.2,1683140,R,9093,11074,717600
12,Illinois,90,19,78.2,12801539,D,25591,45842,5621925
13,Indiana,89,22,76.4,6633053,R,20389,34225,2873525
14,Iowa,69,20,85.9,3134693,R,13870,23069,1369055
15,Kansas,86,25,74.6,2907289,R,16890,18648,1252980
16,Kentucky,83,25,79.7,4436974,R,22199,23198,1955625
17,Louisiana,86,23,73.8,4681666,R,21367,36376,2025950
18,Maine,88,16,85.1,1331479,D,6673,3433,620040
19,Maryland,91,15,79.2,6016447,D,23268,32857,2647620
20,Massachusetts,90,11,83.1,6811779,D,20140,26939,3093650
21,Michigan,84,21,74.5,9928300,D,24549,36573,4395020
22,Minnesota,83,17,86.3,5519952,D,15152,26774,2411515
23,Mississippi,83,30,65.7,2988726,R,21691,29770,1293010
24,Missouri,79,24,76.4,6093000,R,20227,31788,2670940
25,Montana,84,24,77.3,1042520,R,7731,9300,474625
26,Nebraska,80,16,80.9,1907116,R,9939,15212,829810
27,Nevada,92,22,82.1,2940058,D,21532,21914,1282730
28,New Hampshire,87,17,85.0,1334795,D,7516,6347,620540
29,New Jersey,88,14,83.3,8944469,D,29022,39795,3914710
30,New Mexico,89,20,89.1,2081015,D,18541,18535,926370
31,New York,91,13,83.7,19745289,D,58359,69607,8764050
32,North Carolina,79,22,71.9,10146788,R,7268,36229,4457370
33,North Dakota,66,24,87.7,757952,R,6295,10755,341845
34,Ohio,83,21,79.9,11614373,R,25678,38592,5113345
35,Oklahoma,81,28,72.2,3923561,R,22020,26141,1689185
36,Oregon,90,17,77.5,4093465,D,11441,11552,1836470
37,Pennsylvania,88,20,80.1,12784227,D,28253,38725,5033585
38,Rhode Island,96,15,80.3,1056426,D,10115,13647,487435
39,South Carolina,82,23,71.7,4961119,R,23007,28831,2193705
40,South Dakota,54,28,79.1,865454,R,7746,12344,381395
41,Tennessee,76,25,74.5,6651194,R,25550,32802,2924845
42,Texas,84,23,72.4,27862596,R,33672,67372,11647825
43,Utah,74,16,84.0,3051217,R,12736,12175,1217875
44,Vermont,84,16,83.6,624594,D,1366,932,302355
45,Virginia,88,19,82.0,8411808,D,23983,32314,3711225
46,Washington,88,17,79.8,7288000,D,17600,21283,3261955
47,West Virginia,77,28,71.4,1831102,R,13668,11173,832110
48,Wisconsin,79,19,87.6,5778708,D,16556,26068,2564070
49,Wyoming,54,22,74.8,585501,R,3786,3594,263680

In [287]:
database['population'] = (database['postvax_deaths'] + database['prevax_deaths']) / database['population'] *100
database

,state,mask_willingness,vaccine_unwilling,supply_percent_used,population,election_result,postvax_deaths,prevax_deaths,Total Vaccinations
0,Alabama,85,26,63.8,1.218576,R,23227,36036,2137960
1,Alaska,77,22,72.9,0.468935,R,1712,1767,483400
2,Arizona,80,22,75.3,0.998850,D,30972,38259,3030840
3,Arkansas,68,27,69.5,1.432779,R,20022,22793,1302480
4,California,84,17,77.8,0.249394,D,29148,68739,17005480
5,Colorado,89,18,82.2,0.772235,D,16873,25913,2426025
6,Connecticut,95,13,84.1,1.133777,D,17378,23171,1614520
7,Delaware,90,14,77.6,1.614806,D,8250,7124,437550
8,Florida,91,20,73.1,0.423652,R,31872,55453,9303210
9,Georgia,82,27,66.9,0.739033,D,31636,44561,4419150
10,Hawaii,94,11,82.9,0.372824,D,2473,2853,645080
11,Idaho,73,29,76.2,1.198177,R,9093,11074,717600
12,Illinois,90,19,78.2,0.558003,D,25591,45842,5621925
13,Indiana,89,22,76.4,0.823361,R,20389,34225,2873525
14,Iowa,69,20,85.9,1.178393,R,13870,23069,1369055
15,Kansas,86,25,74.6,1.222376,R,16890,18648,1252980
16,Kentucky,83,25,79.7,1.023152,R,22199,23198,1955625
17,Louisiana,86,23,73.8,1.233386,R,21367,36376,2025950
18,Maine,88,16,85.1,0.759006,D,6673,3433,620040
19,Maryland,91,15,79.2,0.932860,D,23268,32857,2647620
20,Massachusetts,90,11,83.1,0.691141,D,20140,26939,3093650
21,Michigan,84,21,74.5,0.615634,D,24549,36573,4395020
22,Minnesota,83,17,86.3,0.759536,D,15152,26774,2411515
23,Mississippi,83,30,65.7,1.721837,R,21691,29770,1293010
24,Missouri,79,24,76.4,0.853685,R,20227,31788,2670940
25,Montana,84,24,77.3,1.633638,R,7731,9300,474625
26,Nebraska,80,16,80.9,1.318798,R,9939,15212,829810
27,Nevada,92,22,82.1,1.477726,D,21532,21914,1282730
28,New Hampshire,87,17,85.0,1.038586,D,7516,6347,620540
29,New Jersey,88,14,83.3,0.769380,D,29022,39795,3914710
30,New Mexico,89,20,89.1,1.781631,D,18541,18535,926370
31,New York,91,13,83.7,0.648084,D,58359,69607,8764050
32,North Carolina,79,22,71.9,0.428678,R,7268,36229,4457370
33,North Dakota,66,24,87.7,2.249483,R,6295,10755,341845
34,Ohio,83,21,79.9,0.553366,R,25678,38592,5113345
35,Oklahoma,81,28,72.2,1.227482,R,22020,26141,1689185
36,Oregon,90,17,77.5,0.561700,D,11441,11552,1836470
37,Pennsylvania,88,20,80.1,0.523911,D,28253,38725,5033585
38,Rhode Island,96,15,80.3,2.249282,D,10115,13647,487435
39,South Carolina,82,23,71.7,1.044885,R,23007,28831,2193705
40,South Dakota,54,28,79.1,2.321325,R,7746,12344,381395
41,Tennessee,76,25,74.5,0.877316,R,25550,32802,2924845
42,Texas,84,23,72.4,0.362651,R,33672,67372,11647825
43,Utah,74,16,84.0,0.816428,R,12736,12175,1217875
44,Vermont,84,16,83.6,0.367919,D,1366,932,302355
45,Virginia,88,19,82.0,0.669262,D,23983,32314,3711225
46,Washington,88,17,79.8,0.533521,D,17600,21283,3261955
47,West Virginia,77,28,71.4,1.356615,R,13668,11173,832110
48,Wisconsin,79,19,87.6,0.737604,D,16556,26068,2564070
49,Wyoming,54,22,74.8,1.260459,R,3786,3594,263680

In [288]:
database = database.rename(columns={'population': '% population passed'})

In [289]:
database.to_csv('cleandata.csv')